/* 공통 */
body {
    margin: 0px;
    color: #333;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    font-family: 'Nanum Gothic', sans-serif;
}
a{
    font-family: "Noto Sans KR", sans-serif;
    text-decoration: none;
    color: black;
}

/* 캐러셀 */
header {
    width: 100%;
    background-color: #f6f5f0;
    border-bottom: 1px solid #c8c8c8;
    position: fixed;
    top:0;
    z-index: 9;
    font-family: 'OTWelcomeRA';
}
nav.navbar {
    background-color: #f6f5f0 !important;
}
.navbar {
height: 70px;
}
.nav-link {
    font-weight: 700;
}
.nav-link:hover {
color: green;
}


/* 카드_1 */
.card_box{
    margin-top: 100px;
}
.card-title{
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 500;
    margin-top: 100px;
}
.card-text-box{
    color: black;
    font-family: "Noto Sans KR", sans-serif;
    margin-top: 30px;   
}

/* 비행기 애니메이션 */
.air-section{
    width: 100%;
    height: 200px;
    background-color: #f6f5f0;
}
.air-icon{
    width: 100px;
    animation: air-slide ease-out;
    animation-duration: 3s;
}

@keyframes air-slide {
    from{
        margin-left:-200px;
        opacity: 0;
    }
    to{
        margin-left:100%;
        opacity: 1;
    }
}
@keyframes air-disappear {
    from{
        margin-left:100%;
        opacity: 0;
    }
    to{
        margin-left:0;
        opacity: 1;
    }
}

/* 카드_2 */
.section2_title{
    margin: 100px;
}
.s2_t1{
    margin-left: 0;
}
.section2_box{
    margin-bottom: 500px;
}