/* 헤더 */
header {
    width: 100%;
    background-color: #f6f5f0;
    position: fixed;
    top:0;
    z-index: 9;
}
nav.navbar {
background-color: #f6f5f0 !important;
}
.nav-link {
font-weight: 500;
}
.nav-link:hover {
color: #4d8252;
}
.form-control {
background-color: #f6f5f0;
}
.btn-search {
text-wrap: nowrap;
border-color: #4d8252;
color:#4d8252;
}
.btn-search:hover {
background-color: #4d8252;
border-color: #4d8252;
}


/* 푸터 */
footer a {
    text-decoration: none;
    color: black;
    font-size: 12px;
}
footer .title {
font-size: 12px;
font-weight: 700;
}
.second-line {
border-top: 1px solid #d9dce0;
border-bottom: 1px solid #d9dce0;
font-size: 10px;
}

.third-line {
display: flex;
justify-content: center;
}
.award {
justify-content: center;
}
.awards-img {
text-align: center;
}

@media screen and (max-width:96rem) {
.second-line {
    text-align: center;
}
.second-line-menu {
    border-bottom: 1px solid #d9dce0;
}
}



/* 공통 */
body {
    margin: 0px;
    color: #333;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    overflow-x: hidden;
}

.image-scale-box img :hover {
    transform: scale(1.05);
}

a{
    font-family: "Noto Sans KR", sans-serif;
    text-decoration: none;
    color: black;
}
.btn-more{
    width: 100%;
}
.price{
    color: green;
}



/* 비행기 hover */
a:hover {  
    cursor : url(/image/cursor.png) 20 30, url(...) 20 30, auto; 
}
span:hover{
    cursor : url(/image/cursor.png) 20 30, url(...) 20 30, auto; 
}

html:hover{
    cursor : url(/image/cursor.png) 20 30, url(...) 20 30, auto; 
}




/* 카드_1 */
.card_box{
    margin-top: 100px;
}
.card-title{
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 500;
    margin-top: 100px;
}
.card-text-box{
    color: black;
    font-family: "Noto Sans KR", sans-serif;
    margin-top: 30px;   
}


/* 모바일 */
.mobile_tab{
    margin: 1em;
}
.mobile_card_item hover{
    background-color: #f6f5f0;
    border-radius: 3px;
}



/* 비행기 애니메이션 */
.air-section{
    width: 100%;
    height: 200px;
    background-color: #f6f5f0;
    margin: 150px 0px;
}
.air_icon{
    width: 100px;
    animation: air-slide ease-out;
    animation-duration: 3s;
}

@keyframes air-slide {
    from{
        margin-left:-300px;
        opacity: 0;
    }
    to{
        margin-left:100%;
        opacity: 1;
    }
}
@keyframes air-disappear {
    from{
        margin-left:100%;
        opacity: 0;
    }
    to{
        margin-left:-300px;
        opacity: 1;
    }
}

/* 카드_2 */
.section2{
    margin-top: 150px;
}
.section2_box1{
    display: flex;
    justify-content: space-between;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 500;
}
.card2_item a:hover{
    background-color: #f6f5f0;
    border-radius: 3px;
}
.card2_a{
    margin: 1em;
    padding-bottom: 10px;
}
.underline{
    border-bottom: 3px solid green;
}

.smn_effect a:hover:before, .SMN_effect a:focus:before {
    max-width: 100%;
}

/* 카드3 */
.section3{
    margin-top: 150px;
}
.card3_item a:hover{
    background-color: #f6f5f0;
    border-radius: 3px;
}
.section3 img:hover{
    transform: scale(1);             
    transition: transform .3s;
    filter: brightness(0.5);
    opacity: 1;
    overflow:hidden
}

@media screen and (min-width: 0px) {
    .section1_mobile{
        display: none;
    }
}

/* 태블릿 */
@media(max-width:992px) {
    .mobile_hide{
        display: none;
    }

    .section1_mobile{
        display: block;
    }

    .section2_box1{
        display: block;
        text-align: center;
        padding: 5px 0px;
    }
    .card3_2{
        display: block;
    }
    .circle{
        text-align: center;
    }
    .card-carousel{
        display: none;
    }
}

@media(max-width: 738px) {
    .mobile_hide{
        display: none;
    }
    .section2_box1{
        display: block;
        text-align: center;
        padding-top: 5px 0px;
    }
    .section2_box1 a{
        display: block;
    }
    .circle{
        text-align: center;
    }
    .card-carousel{
        display: none;
    }
}




