body {
  color: #333;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  font-family: 'Nanum Gothic', sans-serif;
}

a{
  text-decoration: none;
}


.nav-link {
  font-weight: 700;
}
.nav-link:hover {
  color: green;
}

