@font-face {
  font-family: 'TTHakgyoansimKossuyeomR';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_keris@1.0/TTHakgyoansimKossuyeomR.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OTWelcomeRA';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/OTWelcomeRA.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Cafe24Syongsyong';
  src: url('https://gcore.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Syongsyong.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
body {
  color: #333;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  font-family: 'Nanum Gothic', sans-serif;
}

a{
  text-decoration: none;
}


/* HEAEDR */

header {
  width: 100%;
  background-color: #f6f5f0;
  border-bottom: 1px solid #c8c8c8;
  position: fixed;
  top:0;
  z-index: 9;
  font-family: 'OTWelcomeRA';
}

nav.navbar {
  background-color: #f6f5f0 !important;
}
.navbar {
  height: 70px;
}

.nav-link {
  font-weight: 700;
}
.nav-link:hover {
  color: green;
}

.form-control {
  background-color: #f6f5f0;
}

.carousel-caption {
  font-family: 'TTHakgyoansimKossuyeomR';
}



/* CIRCLE CARD */

.circle-card {
  border: 0;
}
.circle-card .circle-card-body {
  position: relative;
}
.circle-card-des {
  position: absolute;
  top: 30%;
  padding: 10px;
  opacity: 0;
  color: #fff;
  text-align: center;
  font-family: 'Cafe24Syongsyong';
  font-size: 24px;
}

.circle-card-text {
  font-family: 'OTWelcomeRA';
  margin-top: 20px;
}

.circle-card img {
  filter: brightness(1);
}
.circle-card img:hover {
  transform: scale(1.2);             
  transition: transform .3s;
  filter: brightness(0.5);
}
.circle-card img:hover + .circle-card-des {
  opacity: 1;
  transition: all .5s;
}

/* LIVE M : CARD*/






/* BANNER */
.banner {
  margin-top: 120px;
  background-image: url("./image/main/main_banner_bg.png");
  background-position: center;
}
.banner .inner {
  height: 700px;
  position: relative; 
}
.banner .play.img-fluid {
  position:absolute;
  height: 100px;
  top:48%;
}

.banner .tree.img-fluid {
  position: absolute;
  bottom: 280px;
  right: 0px;
  width: 400px;
}

.banner .members.img-fluid {
  position: absolute;
  width: 450px;
  bottom: 100px;
  right: 0px;
}

.banner .airplane {
  position: absolute;
  bottom: 5px;
  right: 5px;
  width: 100px;
}

.banner .airplane-ment {
  position: absolute;
  bottom: 0px;
  right: 100px;
  font-size: 12px;
  font-weight: 700;
  font-family: 'TTHakgyoansimKossuyeomR';
  opacity: 1;
}

.banner .airplane.img-fluid:hover {
  rotate: 10deg;
}

.banner .airplane.img-fluid:active {
  transform: scale(10) 
  translate(-1320px, -700px)
  rotate(-45deg)
  ; 
  transition: all 5s;
  opacity: 0;
}

.banner .logo.img-fluid {
  position: absolute;
  height: 40px;
  bottom: 50px;
  left: 30px;
}

.airplane span:not(.light) {
  opacity: 0;
  animation: flashText .5s ease-out alternate infinite;
}

span.light {
  position: relative;
  display: inline-block;
  
  &:before {
    position: absolute;
    left: 0;
    top: -10%;
    width: 100%;
    height: 120%;
    background: tomato;
    filter: blur(10px);
    content: "";
    opacity: 0;
    animation: flash .5s ease-out alternate infinite;
  }}

@keyframes flash{
  to {
    opacity: .5;
  }}

@keyframes flashText {
  to {
    opacity: 0.15;
  }}




/* FOOTER */

footer a {
  text-decoration: none;
  color: black;
  font-size: 12px;
}
footer .title {
  font-size: 12px;
  font-weight: 700;
}
.second-line {
  border-top: 1px solid #d9dce0;
  font-size: 10px;
}

@media screen and (max-width:96rem) {
  .second-line {
    text-align: center;
  }
  .second-line-menu {
    border-bottom: 1px solid #d9dce0;
  }
}