body {
    margin: 0;
    color: #333;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    font-family: 'Nanum Gothic', sans-serif;
}

.green {
    color: #4d8252;
}

/* header */
header {
    width: 100%;
    background-color: #f6f5f0;
    position: fixed;
    top:0;
    z-index: 9;
}

nav.navbar {
    background-color: #f6f5f0 !important;
}
  
.nav-link {
    font-weight: 500;
}

.nav-link:hover {
    color: #4d8252;
}
  
.form-control {
    background-color: #f6f5f0;
}

.title {
    font-weight: bold;
    font-family: 'Nanum Gothic', sans-serif;
}

.sub-title {
    color: #696969;
    font-family: 'Nanum Gothic', sans-serif;
}


/* 여행일정 검색 */
.form-group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 15px;
    margin-bottom: 30px;
}

label {
    margin-right: 5px;
}

select {
    height: 40px;
}


.search-btn {
    padding: 0 33px;
    height: 40px;
}


/* best상품 */
.best-item .card-img-top:hover {
    transform: scale(1.1); 
    transition: transform 0.3s ease; 
}

.best-item {
    background-color: #F8F8F8;
    padding: 10px 0;
}

/* 동남아 특가 */
.sea-card {
    margin-bottom: 13px;
}

.sea-card:hover .card-img-top {
    transform: scale(1.02);
    transition: 0.3s ease-in-out;
}

.sea-card .card-body p {
    font-size: 12px; 
}

/* 기획전 */
.special-exhibition .card:hover {
    transform: scale(1.02);
    transition: 0.5s ease-in-out;
}

.sp-card {
    border-radius: 15px;
}

.text-center {
    text-align: center;
}


/* footer */
footer a {
    text-decoration: none;
    color: black;
    font-size: 12px;
}

footer .title {
    font-size: 12px;
    font-weight: 700;
}

.second-line {
    border-top: 1px solid #d9dce0;
    border-bottom: 1px solid #d9dce0;
    font-size: 10px;
}
  
.third-line {
    display: flex;
    justify-content: center; 
}

.award {
    justify-content: center;
}

.awards-img {
    text-align: center;
}

/* 미디어 쿼리 */
@media screen and (max-width:96rem) {
    .second-line {
        text-align: center;
      }
      .second-line-menu {
        border-bottom: 1px solid #d9dce0;
      }
}

@media screen and (max-width: rem) { 
    .col-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .theme-travel-card .card-text-container {
        display: none;
    }
}

