* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

/* 캐러셀 */
.carousel-item-box {
  position: relative;
}
.carousel-text-box {
  position: absolute;
  top: 32%;
  left: 15%;
}

.carousel-title {
  margin-bottom: 13px;
  font-size: 50px;
  font-weight: 700;
} 

.carousel-subtitle {
  font-weight: 700;
  margin-bottom: -3px;
}

.carousel-description {
  margin: 0;
}

.carousel-text-box.text-white {
  color: #fff;
} 

.carousel-item:last-child .carousel-text-box {
  text-shadow: 1px 1px 5px black;
}



/* 모바일 ------------------------------*/
@media (max-width: 48rem) {
  .carousel-title {
    font-size: 25px;
  }

  .carousel-subtitle {  
    font-size: 20px;
  }

  .carousel-description {
    display: none;
  }
}